#header > .row > .large-12 {text-align: center;}

#navbar > .row > .large-3 {text-align: center} 
.footer-bottom {text-align: center;}

#slideshow{text-align: center;}

#body > .background-image: url("images/nickro.jpg");
	 .background-repeat: no-repeat;
	 .background-attachment: fixed;
}
